@mixin large {
	@media (min-width: 992px) {
		.hamburger {
			display: none;
		}
		.burger-box {
			display: none;
		}
		.nav-mobile {
			display: none;
		}
		.nav-desktop {
			position: sticky;
			top: 0;
			height: 10vh;
			display: flex;
			justify-content: space-around;
			align-items: center;
			font-size: 2rem;
			z-index: 5;
			background-color: #fff;
			overflow: hidden;
			.nav-logo {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 3rem;
				a {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
				.logo-img {
					height: 3.5rem;
					width: 2.2rem;
					margin-right: 1rem;
				}
			}
			.desktop-nav-list {
				display: flex;
				.nav-desktop-list-item {
					height: 100%;
					list-style: none;
					a {
						color: #000;
						padding: 5rem 2rem;
						position: relative;
						text-decoration: none;
						transition: color 0.3s, background-color 0.3s;
						transform-origin: top;
						z-index: 5;
					}
					a:hover {
						color: #fff;
					}
					.scroll-spy {
						background-color: #000;
						color: #fff;
					}
				}
				a::before {
					content: '';
					position: absolute;
					bottom: -45%;
					left: 0;
					width: 100%;
					height: 0;
					background-color: #000;
					transition: height 0.5s;
					z-index: -5;
				}
				a:hover::before {
					height: 200%;
				}
				.nav-desktop-list-item:hover a {
					color: #fff;
				}
			}
		}
		.header {
			.hero {
				.hero-img {
					height: 50vh;
					background-image: url(../../dist/img/jungle-desktop.jpg);
					z-index: 5;
				}
				.hero-bg {
					.hero-text {
						max-width: 1200px;
						width: 100%;
						text-align-last: left;
						.hero-title {
							font-size: 3rem;
						}
						.hero-heading {
							font-size: 5rem;
						}
					}
				}
			}
		}
		.main {
			.aboutus {
				.heading {
					font-size: 4rem;
					padding: 7rem;
				}
				&__content {
					padding: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&__img {
					background-image: url(../../dist/img/tree-desktop.jpg);
					width: 60rem;
					height: 40rem;
				}
				&__text {
					margin-top: -6rem;
					font-family: 'Montserrat', sans-serif;
					padding: 0 5rem;
					width: 50%;
					font-size: 1.5rem;
					text-align-last: left;
					.title {
						font-family: 'Montserrat', sans-serif;
						font-size: 3rem;
						padding: 2rem 0;
					}
					.text {
						width: 58rem;
						font-size: 1.8rem;
						line-height: 3.5rem;
					}
				}
			}
		}
		.family {
			padding: 8rem 0 2rem 0;
			&__hero-img {
				height: 40vh;
				background-image: url(../../dist/img/girl-desktop.jpg);
			}
			&__text {
				width: 50%;
				padding: 3.5rem 16rem;
				font-size: 4.5em;
			}
		}
		.offers {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&__btn:hover {
				box-shadow: 3px 2px 11px 8px #2adf73;
			}
			&__box {
				margin: 2rem;
				&-container {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;
				}
			}
		}
		.footer {
			&__logo {
				.nav-logo {
					.logo-img {
						height: 4.8rem;
						width: 3.2rem;
						margin: 0 0.5rem 0 0.5rem;
					}
					span {
						font-size: 5rem;
					}
				}
			}
			&__box {
				display: flex;
				justify-content: space-evenly;
				max-width: 1200px;
				margin: 0 auto;
			}
			&__list-item {
				width: fit-content;
				position: relative;
				a::before {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					height: 0.1rem;
					width: 0;
					background-color: black;
					transition: width 0.3s;
					overflow: hidden;
				}
				a:hover::before {
					width: 100%;
				}
			}
		}
	}
}
