@mixin medium {
	@media (min-width: 768px) {
		.nav-mobile {
			.mobile-nav-list {
				font-size: 2.5rem;
			}
		}
		.header {
			.hero {
				.hero-img {
					height: 30vh;
				}
			}
		}
		.main {
			.aboutus {
				.heading {
					font-size: 3rem;
				}
				&__content {
					padding: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&__img {
					width: 50%;
				}
				&__text {
					width: 50%;
				}
                &__title {
                    font-size: 2.2em;
                }
			}
		}
		.family {
			&__text {
				font-size: 3rem;
			}
		}
        .offers {
            &__heading {
                font-size: 4rem;
            }
            &__text {
                font-size: 2.5rem;
            }
            &__btn {
                font-size: 3rem;
            }
        }
		.footer {
			&__box {
				display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			}
			&__links {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
			}
			&__aboutus, &__company, &__documents {
				padding: 1rem 3rem;
			}
			&__documents {
				margin-bottom: 2.65rem;
			}
			&__heading {
				font-size: 2rem;
			}
		}
		.offers {
			&__box {
				margin: 0 2rem 2rem 2rem;
			}
			&__box-container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
		.footer-sub {
			.footer-offers {
				height: 32vh;
				margin: -12.5rem 0;
				&__box {
					margin: auto;
				}
			}
		}
		.contact {
			&__input {
				width: 80%;
			}
			&__checkbox-text {
				width: 80%;
			}
		}
		.offers-sub {
			&__container {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
			}
			&__box {
				width: 60rem;
				height: 40rem;
				.offers-sub__img {
					display: none;
				}
				&-one {
					align-items: flex-end;
					background-image: url(../../dist/img/mountain-desktop.jpg);
					background-size: cover;
					background-position: center;
					margin: 0 1rem 0 0;
				}
				&-two {
					align-items: flex-end;
					background-image: url(../../dist/img/kayak-desktop.jpg);
					background-size: cover;
					background-position: center;
					margin: 0;
				}
			}
			&__text {
 				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				font-size: 1.5rem;
				width: 21rem;
				height: 100%;
				margin-top: 0;
				.description {
					padding: 2rem;
				}
				.offers__button {
					background-color: #2adf73;
					box-shadow: 4px 3px 18px 4px #2adf73;
				}
				.offers__button:hover {
					box-shadow: 4px 3px 25px 8px #2adf73;
				}
			}
			&__price {
				font-weight: bold;
				font-size: 2rem;
				padding: 1rem 0 0 0;
			}
			.offers__button {
				font-size: 1.5rem;
			}
		}
	}
}
