@mixin medium {
	@media (min-width: 768px) {
		.nav-mobile {
			.mobile-nav-list {
				font-size: 2.5rem;
			}
		}
		.header {
			.hero {
				.hero-img {
					height: 30vh;
				}
			}
		}
		.main {
			.aboutus {
				.heading {
					font-size: 3rem;
				}
				&__content {
					padding: 0.5rem;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&__img {
					width: 50%;
				}
				&__text {
					width: 50%;
				}
                &__title {
                    font-size: 2.2em;
                }
			}
		}
		.family {
			&__text {
				font-size: 3rem;
			}
		}
        .offers {
            &__heading {
                font-size: 4rem;
            }
            &__text {
                font-size: 2.5rem;
            }
            &__btn {
                font-size: 3rem;
            }
        }
		.footer {
			&__box {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: row;
				width: 90vw;
			}
			&__links {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
			}
			&__aboutus, &__company, &__documents {
				padding: 1rem 3rem;
			}
			&__documents {
				margin-bottom: 2.65rem;
			}
			&__heading {
				font-size: 2rem;
			}
		}
	}
}
