@mixin small {
    @media (min-width: 576px) {
        .nav-mobile {
            .mobile-nav-list {
                font-size: 1.5em;
            }
        }
        .header {
            .hero {
                .hero-img {
                    height: 50vh;
                }
                .hero-bg {
                    .hero-text {
                        .hero-title {
                            font-size: 2rem;
                        }
                        .hero-heading {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
        .main {
            .aboutus {
                .heading {
                    font-size: 3rem;
                }
                &__text {
                    .title {
                        font-size: 2.5rem;
                    }
                    .text {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}