@use 'index' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scroll-padding-top: 9vh;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
.padding {
	padding: 2rem;
	text-align: center;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.hamburger {
	position: sticky;
	top: 0px;
	z-index: 50;
	touch-action: none;
	background-color: #000;
}
.nav-desktop {
	display: none;
}
.burger-box {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	touch-action: none;
	.nav-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			font-size: 3rem;
		}
		.logo-img {
			height: 3.5rem;
			width: 2.2rem;
			margin: 0 0.5rem 0 0.5rem;
		}
	}
	a {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
.nav-mobile {
	touch-action: none;
	z-index: -1;
	.nav-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		.logo-img {
			width: 4rem;
			height: 4rem;
		}
		span {
			font-size: 2rem;
		}
	}
	.mobile-nav-list {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		height: 100vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		font-size: 2rem;
		backdrop-filter: blur(8px);
		background-color: #00000028;
		transform: translateX(-101%);
		transition: transform 0.3s;
		z-index: 1;
		.nav-mobile-list-item {
			padding: 0.3rem;
			list-style: none;
			text-transform: uppercase;
			text-decoration: solid;
			text-align: center;
			a {
				margin-right: 0.5rem;
				color: #fff;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
	.mobile-active {
		transform: translateX(0);
	}
}
// HEADER //
.header {
	z-index: -5;
	.hero {
		position: relative;
		.hero-img {
			height: 50vh;
			background-image: url(../../dist/img/jungle-mobile.jpg);
			background-size: cover;
			background-position: 50% 70%;
		}
		.hero-bg {
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #00000088;
		}
		.hero-text {
			padding: 1rem;
			color: #fff;
			.hero-heading {
				font-size: 2.5rem;
			}
			.hero-title {
				font-size: 2rem;
			}
		}
	}
}
// MAIN //
.main {
	.aboutus {
		.heading {
			font-size: 2.5rem;
			text-transform: uppercase;
			font-weight: normal;
		}
		&__img {
			height: 30vh;
			background-image: url(../../dist/img/tree-mobile.jpg);
			background-size: cover;
			background-position: center;
		}
		&__text {
			padding: 1rem;
			.text {
				font-size: 1.5rem;
			}
		}
		&__title {
			font-size: 1.8rem;
			padding-bottom: 1rem;
		}
	}
}
.family {
	padding: 3rem 0;
	.hero {
		position: relative;
	}
	&__hero-img {
		height: 30vh;
		width: 100%;
		background-image: url(../../dist/img/girl-mobile.jpg);
		background-size: cover;
		background-position: center;
	}
	&__hero-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.405);
	}
	&__text {
		position: absolute;
		width: 80%;
		padding: 1.5rem 2rem;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		font-size: 1.8rem;
		text-align: center;
		border: 1px solid #fff;
		z-index: 0;
	}
}
.offers {
	text-align: center;
	padding: 0;
	&__heading {
		font-size: 3rem;
		font-weight: normal;
		text-transform: uppercase;
	}
	&__text {
		padding: 2rem 0.5rem 4rem 0.5rem;
		font-size: 1.8rem;
	}
	&__btn {
		padding: 1.5rem 3rem;
		background-color: #2adf73;
		border-radius: 8px;
		color: #000;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 2rem;
		box-shadow: 3px 2px 11px 2px #2adf73;
		transition: box-shadow 0.3s;
	}
	.description {
		p {
			font-size: 1.5rem;
			padding: 1rem 0;
		}
		a {
			color: #000;
			font-weight: bold;
			transition: color 0.3s;
		}
		a:hover {
			color: #2adf73;
		}
	}
	.cta {
		background-color: #2adf73;
		box-shadow: 3px 2px 11px 2px #2adf73;
	}
	&__box-one,
	&__box-two,
	&__box-three {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 2rem 2rem;
		padding: 3rem;
		font-size: 2rem;
		box-shadow: 0 0 4px 0 #00000063;
		border: 1px solid transparent;
		border-radius: 6px;
	}
	&__heading {
		padding: 1.5rem 0;
		font-size: 2.5rem;
		text-transform: uppercase;
	}
	&__price {
		font-weight: bold;
	}
	&__list {
		padding: 2rem 0;
		list-style: none;
	}
	&__list-item {
		display: flex;
		justify-content: center;
		align-items: stretch;
		span {
			margin-right: 0.5rem;
		}
	}
	&__list-item:nth-of-type(3) {
		color: #a3a1a1;
	}
	&__list-item:nth-of-type(4) {
		color: #a3a1a1;
	}
	&__list-item:nth-of-type(5) {
		color: #a3a1a1;
	}
	&__button {
		position: relative;
		padding: 1rem 2rem;
		border: 0 solid transparent;
		border-radius: 10px;
		background-color: #fff;
		box-shadow: 3px 2px 11px 2px #ddd;
		font-size: 2rem;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;
		overflow: hidden;
		z-index: 5;
	}
	&__box-two {
		.offers__button::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: #17be5a;
			z-index: -1;
			transition: width 0.5s;
		}
		.offers__button:hover::before {
			width: 100%;
		}
	}
	&__box-one,
	&__box-three {
		.offers__button::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 105%;
			width: 0;
			background-color: #adadad;
			z-index: -1;
			transition: width 0.5s;
		}
		.offers__button:hover::before {
			width: 105%;
			transform-origin: left;
		}
	}
	&__box-two {
		.offers__list-item:nth-of-type(3) {
			color: #000;
		}
	}
	&__box-three {
		.offers__list-item:nth-of-type(3) {
			padding: 0 2rem;
			color: #000;
		}
		.offers__list-item:nth-of-type(4) {
			color: #000;
		}
		.offers__list-item:nth-of-type(5) {
			color: #000;
		}
	}
}
// FOOTER //
.footer {
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 4rem 0 0 0;
	background-color: #ddd;
	text-align: center;
	&__logo {
		.nav-logo {
			display: flex;
			font-weight: normal;
			justify-content: center;
			align-items: center;
			.logo-img {
				height: 3.5rem;
				width: 2.2rem;
				margin: 0 0.5rem 0 0.5rem;
			}
		}
		span {
			font-size: 3rem;
		}
	}
	&__heading {
		padding: 1rem 0;
		font-size: 2.5rem;
	}
	&__list-item {
		padding: 0.5rem 0;
		font-size: 1.5rem;
		list-style: none;
		a {
			text-decoration: none;
			color: #000;
		}
	}
	&__links {
		margin-left: 1rem;
	}
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-top: 1px solid black;
		font-size: 1.5rem;
		&-text {
			padding: 1rem 0;
		}
	}
}
// OFFERS SUBPAGE //
.offers-sub {
	margin: 14rem 0;
	&__box {
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 50%;
		&-one,
		&-two {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			margin-bottom: 15rem;
			.offers-sub__img {
				position: absolute;
				width: 100%;
				height: 25%;
				background-image: url(../../dist/img/mountain-mobile.jpg);
				background-size: cover;
				background-position: center;
			}
		}
		&-two {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.offers-sub__img {
				position: absolute;
				width: 100%;
				height: 25%;
				background-image: url(../../dist/img/kayak-mobile.jpg);
				background-size: cover;
				background-position-y: 50%;
			}
		}
	}
	&__text {
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 1.5rem;
		height: 100%;
		margin-top: 30rem;
		box-shadow: 4px 3px 18px 4px #ddd;
		.offers__button {
			background-color: #2adf73;
			box-shadow: 4px 3px 18px 4px #2adf73;
			font-size: 1.2rem;
			padding: 0.5rem;
		}
		.description {
			padding: 0 0.5rem;
		}
	}
	&__price {
		padding: 0.5rem 0;
	}
	.offers__button {
		margin: 0.5rem 0;
	}
	&__heading {
		padding: 0.5rem 0 0 0;
	}
}
// CONTACT //
.contact {
	margin-top: 10rem;
	#map {
		iframe {
			display: 100%;
			width: 100%;
			padding: 2rem;
		}
	}
	.cta {
		background-color: #2adf73;
		box-shadow: 3px 2px 11px 2px #2adf73;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin: 0 2.5rem 0 2.5rem;
		padding: 2.5rem;
	}
	&__heading {
		font-size: 2rem;
		font-weight: bold;
		letter-spacing: 2px;
		margin: 0.5rem 0;
		text-align: center;
	}
	&__input-container {
		position: relative;
		width: 100%;
		padding: 0.5rem 0;
	}
	.fade-up {
		margin: -0.3rem 1rem;
	}
	&__label {
		background-color: white;
		font-size: 1.7rem;
	}
	&__input {
		position: relative;
		box-shadow: 0px 1px 5px 0 rgb(0, 0, 0);
		border: 0 solid transparent;
		font-size: 2rem;
		margin: 1rem 0;
		padding: 1rem;
		width: 100%;
		resize: none;
	}
	&__input:focus {
		outline: none;
	}
	&__checkbox {
		border: 1px solid transparent;
		cursor: pointer;
		width: 1.8rem;
		height: 1.8rem;
		margin-left: 1.5rem;
		&-text {
			font-size: 1.5rem;
			padding: 0 1rem;
		}
		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.superscript {
		color: red;
		font-size: 1.5rem;
	}
	&__button {
		position: relative;
		border: 1px solid transparent;
		border-radius: 10px;
		cursor: pointer;
		font-size: 2rem;
		margin-top: 3rem;
		padding: 1.5rem 3rem;
		transition: background-color 0.3s, box-shadow 0.3s;
		overflow: hidden;
		z-index: 0;
	}
	&__button::before {
		content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 0;
			background-color: #17be5a;
			z-index: -1;
			transition: width 0.5s;
	}
	&__button:hover::before {
		width: 100%;
	}
	&__error {
		font-size: 1.5rem;
		color: red;
	}
	&__error:nth-of-type(4) {
		margin-bottom: 1rem;
	}
	.error {
		border: 1px solid red;
	}
	&__required {
		font-size: 1.2rem;
		margin-top: 1.5rem;
	}
}
@include small;
@include medium;
@include large;
